.currCol{
	background-color: orange;
}

.column{
	height: 390px; 
	width:50px;
	display: inline-block;
}

.note{
	border: 0.3px solid;
	height: 50px;
	width: 50px;
	border-color: #b1b1b1;
}

.completeNote{
	height: 50px;
	width: 50px;
}

.note:hover {
	background-color: gray;
}

.syllable{
	height: 40px;
	width: 50px;
	text-align: center;
	font-size: 24px;
}
