.currCol{
	background-color: orange;
}

.note{
	border: 1px solid;
	height: 50px;
	width: 50px;
}

.note:hover {
	background-color: gray;
}

.syllable{
	height: 50px;
	width: 50px;
	text-align: center;
}