.currCol{
	background-color: orange;
}

.column{
	height: 390px; 
	width:50px;
	display: inline-block;
}

.note{
	border: 0.3px solid;
	height: 50px;
	width: 50px;
	border-color: #b1b1b1;
}

.completeNote{
	height: 50px;
	width: 50px;
}

.selectedNote{
	background-color: #ffefef;
}

.note:hover {
	background-color: #ffff84;
}

.syllable{
	height: 40px;
	width: 50px;
	text-align: center;
	font-size: 24px;
}

.album-back{
	position: absolute; 
	width: 100%; 
	height: 220px; 
	object-fit: cover; 
	opacity: 0.6;
	filter: brightness(50%);
}

.album-pic{
	width: 200px; 
	height: 200px; 
	object-fit: cover;
	border: 2px solid;
	border-color: #ffff84;
}

.myCanvas{
	width: 30px; 
	height: 410px; 
	position: absolute; 
}