.songEntry{
	border-bottom: 0.5px solid; 
	padding: 4px; 
	border-color: #b1b1b1; 
	width: 100%; 
	height: 100px;
}

.songImage{
	float: left; 
	object-fit: cover; 
	height: 90px; 
	width: 90px;
}

.songDetail{
	padding: 5px; 
	float: left; 
	width: 50%; 
	height: 100px; 
	overflow: hidden;
}
