.songEntry{
	border-bottom: 0.5px solid; 
	margin: 4px; 
	border-color: #b1b1b1; 
	width: 95%;
	height: 100px;
	cursor: pointer;
}

.songEntry:hover{
	border: 2px solid;
	border-color: #5497f7;
}

.songEntry-selected{
	border: 2px solid;
	border-color: #5497f7;
}

.songImage{
	float: left; 
	object-fit: cover; 
	height: 90px; 
	width: 90px;
}

.songDetail{
	padding: 5px; 
	float: left; 
	width: 65%; 
	height: 100px; 
	overflow: hidden;
}

.lyric-box{
	padding: 8px; 
	width: 100%; 
	height: 300px; 
	overflow: auto; 
	border: 1px solid;
	border-color: #333;
	border-radius: 10px;
}

.song-list{
	width: 100%;  
}

.list-tag{
	font-size: 18px; 
	padding: 5px; 
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid;
	border-color: #5497f7;
	margin: 10px;
}

.sort-tag{
	padding: 8px;
	font-size: 14px;
}

.album-cover{
  width: 300px; 
  height: 300px; 
  object-fit: cover;
  border: 2px solid;
  border-color: #ffff84;
}

.album-back{
  width: 100%; 
  height: 200px;
  object-fit: cover; 
  opacity: 0.6; 
  z-index: -1;
  filter: brightness(50%);
}

.info-col{
	width: 100%; 
	height: 400px;
}

.song-box{
	width: 90%;  
	text-align: center;
	position: absolute;
	top: -150px;
}

.song-subbox{
	border: 1px solid;
	border-color: #333;
	border-radius: 10px;
	padding: 10px;
	width: 300px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.song-name{
	font-size: 24px;
	text-align: center;
	margin: 14px;
	font-weight: bold;
}